@import url('https://fonts.cdnfonts.com/css/bebas-neue');
@import url('https://fonts.cdnfonts.com/css/5x5-dots');

body {
    margin: 0;
    height: 100vh;
    /* Full viewport height */
    background: linear-gradient(to right, #243819 5%, #1a1e11 20%, #1a1e11 80%, #243819 95%);
}

h1 {
    font-family: 'Doto';
    color: #859F3D;
}

.agenda1 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 10rem 7rem 10rem 7rem;
}

.agend-title {

    text-align: center;
}

.title-ag {
    color: #859F3D;
    text-align: center;
    font-family: '5x5 Dots', sans-serif;
    font-size: 45px;
    font-style: normal;
    text-transform: capitalize;
    font-weight: 400;
    line-height: normal;
}

.days {
    display: flex;
    align-items: center;
    gap: 7rem;
    justify-content: center;
}

.day1,
.day2 {
    cursor: pointer;
    padding: 1.3rem 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 20px;

}

.day1 {
    color: rgb(255, 255, 255);
    background: #444;
}

.day2 {
    color: rgb(72, 72, 72);
    background-color: rgba(68, 68, 68, 0.326);

}

.d-1,
.d-2 {

    font-family: 'Bebas Neue', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
    margin: 5px 1px 1px 1px;
}

.d2-co {
    color: white;
    display: none;
}

.days-content {
    background: #1a1a1947;
    font-family: 'Bebas Neue', sans-serif;
    margin: 2rem;
    border-radius: 26px;
    border: 1px solid #859F3D;
    box-shadow: 1px 5px 30.3px -6px #31511E;
}

.d1-co,
.d2-co {
    padding: 4rem;
}

.content {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    flex-direction: column;
    align-items: center;
}

.c-c {
    text-align: center;
}

.c-title {
    font-size: 26px;
    margin: 10px 0;
    color: #859F3D;
    text-transform: uppercase;
}

.time {
    color: rgba(249, 253, 231, 0.39);
    font-weight: 550;
    text-transform: uppercase;
}

.con-des {
    margin: 0;
    line-height: 35px;
    color: white;
    font-weight: 600;
    font-size: 28px;
    text-transform: uppercase;
}